$width-container: calc(100vw - (25vw - 5px)*2);
$width-imagem: calc($width-container*0.5);

@mixin buttonContainer($rotacao) {
  position: absolute;
  border-radius: 50%;
  width: 12.5vw;
  height: 12.5vw;
  top: calc((100vh - 13.5vw)/2);
  transform: rotate($rotacao);
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
  z-index: 1;
  display: flex;
  align-items: center;
}

.background-grass {
  background: rgb(101, 211, 138);
}

.grass {
  background-color: rgb(57, 211, 108);
}

.background-fire {
  background: rgb(255, 115, 90);
}

.fire {
  background-color: rgb(255, 84, 53);
}

.background-water {
  background: rgb(98, 171, 255);
}

.water {
  background-color: rgb(52, 147, 255);
}

.background-ice {
  background: rgb(109, 223, 252);
}

.background-bug {
  background: rgb(193, 255, 100);
}

.background-normal {
  background: rgb(167, 167, 167);
}

.background-poison {
  background: rgb(177, 111, 177);
}

.background-poison {
  background-color: rgb(177, 79, 177);
}

.background-electric {
  background: rgb(255, 255, 114);
}

.background-ground {
  background: rgb(180, 94, 94);
}

.background-fairy {
  background: rgb(226, 152, 165);
}

.background-fighting {
  background: rgb(255, 71, 71);
}

.background-dragon {
  background: rgb(114, 114, 255);
}

.background-flying {
  background: rgb(149, 149, 255);
}

.background-rock {
  background: rgb(182, 132, 85);
}

.background-ghost {
  background: rgb(153, 75, 255);
}

.background-steel{
  background: rgb(94, 148, 145);
}

.background-psychic {
  background: rgb(255, 82, 120);
}

.background-dark {
  background: rgb(90, 91, 114);
}

.pokemon-container {
  position: relative;
  display: flex;
  width: $width-container;
  height: 90vh;
  gap: 5px;
  z-index: 2;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  color: #3b3b3b;
}


.button-container-left {
  @include buttonContainer(0deg);
  left: -6.21vw;
}

.button-container-right {
  @include buttonContainer(180deg);
  right: -6.19vw;
}

.button {
  cursor: pointer;
  margin: 0 1.6vw;
}

.icone-button {
  width: 24px;
  height: 24px;
}

.botaoVoltar {
  position: absolute;
  right: 0;
  top: -0;
}

.detalhe-pokemon {
  width: 65%;
  height: 100%;
  position: relative;
}

.nomeId {
  display: flex;
  margin: 5% 0 0 5%;
}

.nome {
  font-weight: bold;
  font-size: 2.5vw;
  z-index: 5;
  color: white;
}

.id {
  display: flex;
  height: 7vw;
  font-size: 7vw;
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.4);
  font-weight: bold;
}

.tipos {
  display: flex;
  margin: 0 0 5% 5%;
  gap: 2%;
}

.tipo-contenedor {
  border: 2px solid white;
  padding: 1%;
  border-radius: 10px;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tipo-span {
  font-weight: bold;
  color: white;
}

.detalhes-fisicos {
  display: flex;
  align-items: flex-start;
  height: 7%;
  margin: 0 0 5% 5%;
  gap: 5%;
}

.detalhe-fisico {
  display: flex;
  width: 21%;
  gap: 7%;
  text-align: center;
}

.detalhe-fisico strong {
  margin-top: 10%;
}

.icone-contenedor {
  height: 100%;
}

.icone-contenedor span {
  font-size: 11px;
}

.icon {
  height: 23px;
}

.habilidades {
  text-align: center;
}

.habilidade {
  display: flex;
  gap: 5%;
}

.lista {
  list-style: none;
}

.forcasEFraquezas {
  height: 22%;
  display: flex;
  margin: 0 0 5% 5%;
  text-align: center;
  gap: 7%;
}

.resistencias, .fraquezas {
  width: 35%;
}

.resistencias-contenedor, .fraquezas-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5%;
  padding-left: 10%;
  margin-top: -5%;
}

.resistencia, .fraqueza {
  width: 40%;
  color: white;
  margin-bottom: 5%;
}

.estadisticas {
  margin-left: 5%;
}

.estadisticas h4 {
  margin-bottom: 0;
}

.estadistica {
  display: flex;
  margin-bottom: 2%;
}

.stat-nome {
  width: 25%;
  font-size: 13px;
}

.stat-valor {
  margin-left: 3%;
}

.barra-estadistica{
  width: 45%;
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 15px;
}

.valor-barra-estadistica {
  background-color: white;
  height: 100%;
  border-radius: 15px;
}
.imagemPokemon-container {
  position: relative;
  width: 35%;
  height: 100%;
  background-color: #eee;
}

.imagemPokemon {
  width: $width-imagem;
  position: absolute;
  top: calc((100vh - $width-imagem)/2);
  left: calc($width-imagem*0.3*(-1));
}

.tipos-icones-contenedor {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 12%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5%;
  padding-right: 5%;
}

.tipo-icone-contenedor {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.tipo-imagem {
  width: 90%;
}
