<div
  *ngIf="!!pokemon"
  class="pokemon-container"
  [ngClass]="'background-' + tiposPokemon[0]"
>
  <div class="detalhe-pokemon">
    <div class="nomeId">
      <h1 class="nome">{{ pokemon.name | titlecase }}</h1>
      <div class="id">
        <span>{{ getDisplayId(pokemon.id) }}</span>
      </div>
    </div>

    <div class="tipos">
      <div class="tipo-contenedor tipo-pokemon" [ngClass]="tiposPokemon[0]">
        <span class="tipo">{{ tiposPokemon[0] | titlecase }}</span>
      </div>

      <div
        *ngIf="!!tiposPokemon[1]"
        class="tipo-contenedor"
        [ngClass]="tiposPokemon[1]"
      >
        <span class="tipo">{{ tiposPokemon[1] | titlecase }}</span>
      </div>
    </div>

    <div class="detalhesFisicos">
      <div class="detalhe-fisico">
        <span>Height</span><br />
        <strong>{{ getAltura(pokemon.height) }}</strong>
      </div>

      <div class="detalhe-fisico">
        <span>Weight</span><br />
        <strong>{{ getPeso(pokemon.weight) }}</strong>
      </div>

      <div class="detalhe-fisico">
        <span>Abilities</span> <br />
        <select name="habiliades" class="habilidade">
          <option *ngFor="let habilidade of habilidadesPokemon">
            <strong>{{ habilidade | titlecase }}</strong>
          </option>
        </select>
      </div>
    </div>

    <div class="forcasEFraquezas">
      <div class="resistencias">
        <h4>Resistances</h4>
        <div class="resistencias-contenedor">
          <div
            class="resistencia"
            *ngFor="let forca of forcasPokemon"
            [ngClass]="forca"
          >
            <span>{{ forca | titlecase }}</span>
          </div>
        </div>
      </div>

      <div class="fraquezas">
        <h4>Weaknesses</h4>
        <div class="fraquezas-contenedor">
          <div
            class="fraqueza"
            *ngFor="let fraqueza of fraquezasPokemon"
            [ngClass]="fraqueza"
          >
            <span>
              {{ fraqueza | titlecase }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="estadisticas">
      <h4>Stats</h4>
      <div class="estadisticas-contenedor">
        <div class="estadistica" *ngFor="let estatistica of estatisticas">
          <span class="stat-nome">{{
            estatistica.stat | semTraco | titlecase
          }}</span>
          <div class="barra-estadistica">
            <div
              class="valor-barra-estadistica"
              [ngStyle]="{ width: getBarraEstatistica(estatistica.valor) }"
            ></div>
            <ul class="separador">
              <li class="lista"></li>
              <li class="lista"></li>
              <li class="lista"></li>
              <li class="lista"></li>
            </ul>
          </div>
          <span class="stat-valor">{{ estatistica.valor }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="imagemPokemon-container">
    <img class="imagemPokemon" [src]="imagemPokemon" />
  </div>
</div>

<div class="button-container-left" [ngClass]="'background-' + tiposPokemon[0]">
  <button mat-fab class="button" color="white" (click)="anteriorPokemon()">
    <img class="icone-button" src="../../../assets/icones/back.svg" />
  </button>
</div>

<button class="botaoVoltar" (click)="voltarListaPokemons()">
  <img src="../../../assets/icones/close.svg" />
</button>

<div class="button-container-right" [ngClass]="'background-' + tiposPokemon[0]">
  <button mat-fab class="button" color="white" (click)="proximoPokemon()">
    <img class="icone-button" src="../../../assets/icones/back.svg" />
  </button>
</div>
