@mixin buttonContainer($rotacao) {
  position: absolute;
  border-radius: 50%;
  width: 12.5vw;
  height: 12.5vw;
  top: calc((100vh - 13.5vw)/2);
  transform: rotate($rotacao);
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
  background: rgb(70, 70, 70);
  z-index: 1;
  display: flex;
  align-items: center;
}

.pokemon-container {
  width: calc(100vw - (25vw - 5px)*2);
  height: 90vh;
  padding: 5px;
  gap: 5px;
  background: rgb(70, 70, 70);
  z-index: 1;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}


.button-container-left {
  @include buttonContainer(0deg);
  left: -6.21vw;
}

.button-container-right {
  @include buttonContainer(180deg);
  right: -6.10vw;
}

.button {
  cursor: pointer;
  margin: 0 1.6vw;
}

.icone-button {
  width: 24px;
  height: 24px;
}

.botaoVoltar {
  position: absolute;
  right: 0;
  top: -0;
}
