$width-container: calc(100vw - (25vw - 5px)*2);
$width-imagem: calc($width-container*0.5);
$larguraBotaoContainer: 6.25vw;

@mixin buttonContainer {
  position: absolute;
  width: $larguraBotaoContainer;
  height: calc($larguraBotaoContainer * 2);
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  align-items: center;
}

.background-grass {
  background: rgb(101, 211, 138);
}

.grass {
  background-color: rgb(57, 211, 108);
}

.background-fire {
  background: rgb(255, 115, 90);
}

.fire {
  background-color: rgb(255, 84, 53);
}

.background-water {
  background: rgb(98, 171, 255);
}

.water {
  background-color: rgb(52, 147, 255);
}

.background-ice {
  background: rgb(109, 223, 252);
}

.ice {
  background: rgb(1, 204, 255);
}

.background-bug {
  background: rgb(153, 192, 93);
}

.bug {
  background-color: rgb(132, 218, 3);
}

.background-normal {
  background: rgb(156, 123, 129);
}

.normal {
  background-color: rgb(99, 76, 80);;
}

.background-poison {
  background: rgb(165, 124, 165);
}

.background-poison {
  background-color: rgb(167, 102, 167);
}

.poison {
  background-color: rgb(153, 47, 153);
}

.background-electric {
  background-color: rgb(209, 209, 76);
}

.electric {
  background-color: rgb(226, 226, 0);
}

.background-ground {
  background: rgb(189, 107, 107);
}

.ground {
  background: rgb(179, 66, 66);
}

.background-fairy {
  background: rgb(226, 152, 165);
}

.fairy {
  background: rgb(212, 100, 120);
}

.background-fighting {
  background: rgb(228, 103, 103);
}

.fighting {
  background: rgb(241, 77, 77);
}

.background-dragon {
  background: rgb(129, 129, 204);
}

.dragon {
  background: rgb(71, 71, 190);
}

.background-flying {
  background: rgb(149, 149, 255);
}

.flying {
  background: rgb(96, 96, 248);
}

.background-rock {
  background: rgb(187, 148, 112);
}

.rock {
  background-color: rgb(190, 122, 59);
}

.background-ghost {
  background: rgb(166, 99, 255);
}

.ghost {
  background: rgb(112, 56, 185);
}

.background-steel{
  background: rgb(101, 158, 155);
}

.steel{
  background: rgb(50, 119, 114);
}


.background-psychic {
  background: rgb(201, 123, 140);
}

.psychic {
  background: rgb(199, 87, 111);
}

.background-dark {
  background: rgb(118, 118, 139);
}

.dark {
  background: rgb(70, 70, 85);
}

.pokemon-container {
  position: relative;
  display: flex;
  width: $width-container;
  height: 90vh;
  gap: 5px;
  z-index: 2;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  color: #3b3b3b;
}


.button-container-left {
  @include buttonContainer;
  border-bottom-left-radius: $larguraBotaoContainer * 2;
  border-top-left-radius: $larguraBotaoContainer * 2;
  left: calc($larguraBotaoContainer * (-1));
}

.button-container-right {
  @include buttonContainer;
  border-bottom-right-radius: $larguraBotaoContainer * 2;
  border-top-right-radius: $larguraBotaoContainer * 2;
  right: calc($larguraBotaoContainer * (-1));
}

.botao-anterior, .botao-proximo {
  cursor: pointer;
}

.icone-button {
  width: 24px;
  height: 24px;
}

.botao-fechar {
  position: absolute;
  right: 12px;
  top: -27px;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 0;
  margin: 0;

  & img {
    transition: 0.3s;
  }

  &:hover {
    background: rgba(80, 80, 80, 0.6);

    & img {
      filter: brightness(0) invert(1);
    }
  }
}

.detalhe-pokemon {
  width: 65%;
  height: 100%;
  position: relative;
}

.nomeId {
  display: flex;
  margin: 5% 0 0 5%;
}

.nome {
  font-weight: bold;
  font-size: 2.5vw;
  z-index: 5;
  color: white;
}

.id {
  display: flex;
  height: 7vw;
  font-size: 7vw;
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.4);
  font-weight: bold;
}

.tipos {
  display: flex;
  margin: 0 0 5% 5%;
  gap: 2%;
}

.tipo-contenedor {
  border: 2px solid white;
  padding: 1%;
  border-radius: 10px;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tipo-span {
  font-weight: bold;
  color: white;
}

.detalhes-fisicos {
  display: flex;
  align-items: flex-start;
  height: 7%;
  margin: 0 0 5% 5%;
  gap: 5%;
}

.detalhe-fisico {
  display: flex;
  width: 21%;
  gap: 7%;
  text-align: center;
}

.detalhe-fisico strong {
  margin-top: 10%;
}

.icone-contenedor {
  height: 100%;
}

.icone-contenedor span {
  font-size: 11px;
}

.icon {
  height: 23px;
}

.habilidades {
  text-align: center;
}

.habilidade {
  display: flex;
  gap: 5%;
}

.lista {
  list-style: none;
}

.forcasEFraquezas {
  height: 22%;
  display: flex;
  margin: 0 0 5% 5%;
  text-align: center;
  gap: 7%;
}

.resistencias, .fraquezas {
  width: 35%;
}

.resistencias-contenedor, .fraquezas-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5%;
  padding-left: 10%;
  margin-top: -5%;
}

.resistencia, .fraqueza {
  width: 45%;
  color: white;
  margin-bottom: 5%;
  border-radius: 10px;
}

.estadisticas {
  margin-left: 5%;
}

.estadisticas h4 {
  margin-bottom: 0;
}

.estadistica {
  display: flex;
  margin-bottom: 2%;
}

.stat-nome {
  width: 25%;
  font-size: 13px;
}

.stat-valor {
  margin-left: 3%;
}

.barra-estadistica{
  width: 45%;
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 15px;
}

.valor-barra-estadistica {
  background-color: #eee;
  height: 100%;
  border-radius: 15px;
}
.imagem-pokemon-contenedor {
  position: relative;
  width: 35%;
  height: 100%;
  background-color: #eee;
}

.imagem-pokemon {
  width: $width-imagem;
  position: absolute;
  top: calc((100vh - $width-imagem)/2);
  left: calc($width-imagem*0.3*(-1));
}

.tipos-icones-contenedor {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 12%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5%;
  padding-right: 5%;
}

.tipo-icone-contenedor {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.tipo-imagem {
  width: 90%;
}

.fundo-imagem-pokemon {
  width: 90%;
}

.overflow {
  overflow: auto;
  height: 70%;
}

.overflow::-webkit-scrollbar {
  width: 8px;
}

.overflow::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

.overflow::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.centrar {
  justify-content: center !important;
  padding-left: 0 !important;
}
