<div *ngIf="!!pokemon" class="pokemon-container" [ngClass]="tiposPokemon[0]">
  <div class="detalhe-pokemon">
    <div class="nomeId">
      <h1 class="nome">{{ pokemon.name | titlecase }}</h1>
      <p class="id">{{ getDisplayId(pokemon.id) }}</p>
    </div>
  </div>

  <div class="imagemPokemon-container">
    <img class="imagemPokemon" [src]="imagemPokemon" />
  </div>

  <div class="button-container-left" [ngClass]="tiposPokemon[0]">
    <button mat-fab class="button" color="white" (click)="anteriorPokemon()">
      <img class="icone-button" src="../../../assets/icones/back.svg" />
    </button>
  </div>

  <button class="botaoVoltar" (click)="voltarListaPokemons()">
    <img src="../../../assets/icones/close.svg" />
  </button>

  <div class="button-container-right" [ngClass]="tiposPokemon[0]">
    <button mat-fab class="button" color="white" (click)="proximoPokemon()">
      <img class="icone-button" src="../../../assets/icones/back.svg" />
    </button>
  </div>
</div>
