<div
  *ngIf="!!pokemon"
  class="pokemon-container"
  [ngClass]="'background-' + tiposPokemon[0]"
>
  <div class="detalhe-pokemon">
    <div class="nomeId">
      <h1 class="nome">{{ pokemon.name | semTraco | titlecase }}</h1>
      <div class="id">
        <span>{{ getDisplayId(pokemon.id) }}</span>
      </div>
    </div>

    <div class="tipos">
      <div
        *ngFor="let tipo of tiposPokemon"
        class="tipo-contenedor"
        [ngClass]="tipo"
      >
        <span class="tipo-span">{{ tipo | titlecase }}</span>
      </div>
    </div>

    <div class="detalhes-fisicos">
      <div class="detalhe-fisico">
        <div class="icone-contenedor">
          <img class="icon" src="../../../../assets/icones/height-icon.svg" />
          <br />
          <span>Height</span>
        </div>
        <strong>{{ getAltura(pokemon.height) }}</strong>
      </div>

      <div class="detalhe-fisico">
        <div class="icone-contenedor">
          <img class="icon" src="../../../../assets/icones/weight-icon.svg" />
          <br />
          <span>Weight</span>
        </div>
        <strong>{{ getPeso(pokemon.weight) }}</strong>
      </div>

      <div class="habilidades">
        <span>Abilities</span> <br />
        <select name="habiliades" class="habilidade">
          <option *ngFor="let habilidade of habilidadesPokemon">
            <strong>{{ habilidade | titlecase }}</strong>
          </option>
        </select>
      </div>
    </div>

    <div class="forcasEFraquezas">
      <div class="resistencias">
        <h4>Resistances</h4>
        <div
          class="resistencias-contenedor"
          [ngClass]="{
            overflow: forcasPokemon.length > 6,
            centrar: forcasPokemon.length === 1
          }"
        >
          <div
            class="resistencia"
            *ngFor="let forca of forcasPokemon"
            [ngClass]="forca"
          >
            <span>{{ forca | titlecase }}</span>
          </div>
        </div>
      </div>

      <div class="fraquezas">
        <h4>Weaknesses</h4>
        <div
          class="fraquezas-contenedor"
          [ngClass]="{
            overflow: fraquezasPokemon.length > 6,
            centrar: fraquezasPokemon.length === 1
          }"
        >
          <div
            class="fraqueza"
            *ngFor="let fraqueza of fraquezasPokemon"
            [ngClass]="fraqueza"
          >
            <span>
              {{ fraqueza | titlecase }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="estadisticas">
      <h4>Stats</h4>
      <div class="estadisticas-contenedor">
        <div class="estadistica" *ngFor="let estatistica of estatisticas">
          <span class="stat-nome">{{
            estatistica.stat | semTraco | titlecase
          }}</span>
          <div class="barra-estadistica">
            <div
              class="valor-barra-estadistica"
              [ngStyle]="{ width: getBarraEstatistica(estatistica.valor) }"
            ></div>
            <ul class="separador">
              <li class="lista"></li>
              <li class="lista"></li>
              <li class="lista"></li>
              <li class="lista"></li>
            </ul>
          </div>
          <span class="stat-valor">{{ estatistica.valor }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="imagem-pokemon-contenedor">
    <img class="imagem-pokemon" [src]="imagemPokemon" />
    <div class="tipos-icones-contenedor">
      <div *ngFor="let tipo of tiposPokemon" class="tipo-icone-contenedor">
        <img
          class="tipo-imagem"
          [src]="'../../../../assets/icones/tipos/' + tipo + '.png'"
        />
      </div>
    </div>
    <!-- <img
      class="fundo-imagem-pokemon"
      src="../../../../assets/backgrounds/border.png"
    /> -->
  </div>
</div>

<div class="button-container-left" [ngClass]="'background-' + tiposPokemon[0]">
  <button mat-fab class="button" color="white" (click)="anteriorPokemon()">
    <img class="icone-button" src="../../../assets/icones/back.svg" />
  </button>
</div>

<button class="botaoVoltar" (click)="voltarListaPokemons()">
  <img src="../../../assets/icones/close.svg" />
</button>

<div class="button-container-right" [ngClass]="'background-' + tiposPokemon[0]">
  <button mat-fab class="button" color="white" (click)="proximoPokemon()">
    <img class="icone-button" src="../../../assets/icones/back.svg" />
  </button>
</div>
