label {
  color: rgba(255, 255, 255, 0.7);
}

.barra-pesquisa {
  display: flex;
  gap: 10%;
}

.select {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

:host .mat-input-element, ::placeholder{
  color: rgba(255, 255, 255, 0.7);
}

:host .mat-select-arrow {
  color: rgba(255, 255, 255, 0.7) !important;
}
