<div class="pokedex-container" fxLayout="row">
  <div class="left" fxFlex="25">
    <div class="setor-circular-left-top"></div>
    <div class="sc-left-top"></div>

    <div class="semicirculo-left"></div>

    <div class="setor-circular-left-bottom"></div>
    <div class="sc-left-bottom"></div>

  </div>


  <div class="center" fxFlex="50">
    <router-outlet></router-outlet>
  </div>

  <div class="right" fxFlex="25">
    <div class="setor-circular-right-top"></div>
    <div class="sc-right-top"></div>

    <div class="semicirculo-right"></div>

    <div class="setor-circular-right-bottom"></div>
    <div class="sc-right-bottom"></div>
  </div>
</div>
