<div class="left">
  <div class="setor-circular-left-top"></div>
  <div class="sc-left-top"></div>

  <div class="setor-circular-left-bottom"></div>
  <div class="sc-left-bottom"></div>
</div>

<div class="semicirculo-left"></div>

<div class="center">
  <app-pokemons></app-pokemons>
</div>

<div class="right">
  <div class="setor-circular-right-top"></div>
  <div class="sc-right-top"></div>

  <div class="setor-circular-right-bottom"></div>
  <div class="sc-right-bottom"></div>
</div>

<div class="semicirculo-right"></div>
