@mixin lateraisPokedex() {
  position: absolute;
  height: calc(100vh);
  width: calc(25vw - 10px);
  top: 0;
  background: rgb(206, 37, 37);
  box-shadow: inset 0 0 0 2px black;
  overflow: hidden;
}

@mixin setorCircular($tamanho, $rotacao, $semicirculo: false) {
  position: absolute;
  border-radius: 50%;
  width: $tamanho;
  height: $tamanho;
  transform: rotate($rotacao);
  @if $semicirculo {
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
    background: black;
    border: 2px solid black;
    box-shadow: inset 0 0 0 5px #eee;
  } @else {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
    border: 7px solid black;
  }
}

.left {
  @include lateraisPokedex();
  left: 0;
  border-right: 5px solid #eee;
}

.right {
  @include lateraisPokedex();
  right: 0;
  border-left: 5px solid #eee;
}

.center {
  display: flex;
  position: absolute;
  top: 0;
  left: calc(25vw - 5px);
  height: 100vh;
  width: calc(100vw - (25vw - 5px)*2);
  align-items: center;
  background-color: #eee;
}

.setor-circular-left-top {
  @include setorCircular(25vw, 0deg, $semicirculo: false);
  top: calc((12.5vw + 7px)*(-1));
  left: calc((12.5vw + 7px)*(-1));
}

.sc-left-top {
  @include setorCircular(12.5vw, 0deg, $semicirculo: false);
  top: calc((6.25vw + 7px)*(-1));
  left: calc((6.25vw + 7px)*(-1));
}

.setor-circular-left-bottom {
  @include setorCircular(25vw, 270deg, $semicirculo: false);
  bottom: calc((12.5vw + 7px)*(-1));
  left: calc((12.5vw + 7px)*(-1));
}

.sc-left-bottom {
  @include setorCircular(12.5vw, 270deg, $semicirculo: false);
  bottom: calc((6.25vw + 7px)*(-1));
  left: calc((6.25vw + 7px)*(-1));
}

.setor-circular-right-top {
  @include setorCircular(25vw, 90deg, $semicirculo: false);
  top: calc((12.5vw + 7px)*(-1));
  right: calc((12.5vw + 7px)*(-1));
}

.sc-right-top {
  @include setorCircular(12.5vw, 90deg, $semicirculo: false);
  top: calc((6.25vw + 7px)*(-1));
  right: calc((6.25vw + 7px)*(-1));
}

.setor-circular-right-bottom {
  @include setorCircular(25vw, 180deg, $semicirculo: false);
  bottom: calc((12.5vw + 7px)*(-1));
  right: calc((12.5vw + 7px)*(-1));
}

.sc-right-bottom {
  @include setorCircular(12.5vw, 180deg, $semicirculo: false);
  bottom: calc((6.25vw + 7px)*(-1));
  right: calc((6.25vw + 7px)*(-1));
}

.semicirculo-left {
  @include setorCircular(25vw, 0deg, $semicirculo: true);
  left: calc(12.5vw - 6px);
  top: calc((100vh - (25vw + 14px))/2);
}

.semicirculo-right {
  @include setorCircular(25vw, 180deg, $semicirculo: true);
  right: calc(12.5vw - 6px);
  top: calc((100vh - (25vw + 14px))/2);
}
