.pokemons-container {
  display: flex;
  width: 800px;
  height: 100px;
  padding: 5px;
  position: absolute;
  left: calc((100% - 800px)/ 2);
  bottom: 8%;
  gap: 5px;
  border-radius: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 10px solid white;
  border-right: 10px solid white;
  box-shadow: -10px 0 white, 10px 0 white;
}

.pokemons-div {
  display: flex;
  width: 80%;
  height: 80%;
  margin: auto auto;
  gap: 3%;
}

.button {
  margin: auto auto;
  cursor: pointer;
}

.button-extended {
  position: absolute;
  right: -10%;
  top: 0;
  bottom: 0;
}

.icone-button {
  width: 24px;
  height: 24px;
}


