$larguraBotaoContainer: 6.25vw;

@mixin buttonContainer {
  position: absolute;
  width: $larguraBotaoContainer;
  height: calc($larguraBotaoContainer * 2);
  top: 50%;
  transform: translateY(-50%);
  background: rgb(80, 80, 80);
  z-index: 1;
  align-items: center;
}

.pokemons-container {
  position: relative;
  width: 50vw;
  height: auto;
  min-height: 90vh;
  background: rgb(80, 80, 80);
  z-index: 1;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.barra-pesquisa {
  position: relative;
  width: 80%;
  height: auto;
  margin: 2vh auto;
}

.pokemons-div {
  width: 50vw;
  height: calc(100% - 9vh);
  flex-wrap: wrap;
}

.mensagemNaoTemPokemons {
  margin: 10% 0 0 5%;
  color: rgba(255, 255, 255, 0.7);
}

.app-retrato {
  margin-bottom: 3%;
}

.button-container-left {
  @include buttonContainer;
  border-bottom-left-radius: $larguraBotaoContainer * 2;
  border-top-left-radius: $larguraBotaoContainer * 2;
  left: calc($larguraBotaoContainer * (-1));
}

.button-container-right {
  @include buttonContainer;
  border-bottom-right-radius: $larguraBotaoContainer * 2;
  border-top-right-radius: $larguraBotaoContainer * 2;
  right: calc($larguraBotaoContainer * (-1));
}

.botao-anterior, .botao-proximo {
  cursor: pointer;
}

.icone-button {
  width: 24px;
  height: 24px;
}


