.pokemons-conteiner {
  display: flex;
  width: 80%;
  height: auto;
  padding: 5px;
  border: 1px solid black;
  margin: 0 10% 0 10%;
  position: absolute;
  bottom: 8%;
  gap: 5px;
}

.pokemons-div {
  display: flex;
  width: 80%;
  height: 80%;
  margin: auto auto;
  gap: 3%;
}

.button {
  margin: auto auto;
  cursor: pointer;
}


