<div class="pokemons-conteiner">
  <button mat-fab class="button" (click)="previousListaPokemons()">
    <img class="icone-button" src="../../../assets/icones/back.svg" />
  </button>
  <div class="pokemons-div">
    <app-retrato-pokemon
      *ngFor="let pokemon of pokemons"
      [pokemonUrl]="pokemon.url"
    ></app-retrato-pokemon>
  </div>
  <button mat-fab class="button" (click)="nextListaPokemons()">
    <img class="icone-button" src="../../../assets/icones/forward.svg" />
  </button>
  <button mat-fab class="button">
    <img class="icone-button" src="../../../assets/icones/expand.svg" />
  </button>
</div>
