<div class="pokemons-conteiner">
  <button mat-fab class="button">
    <img class="icone-button" src="../../../assets/icones/back.svg" />
  </button>
  <div class="pokemons-div">
    <mat-button-toggle-group [(ngModel)]="pokemons" vertical="false">
      <mat-button-toggle *ngFor="let pokemon of pokemons"
        >{{ pokemon }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <button mat-fab class="button">
    <img class="icone-button" src="../../../assets/icones/forward.svg" />
  </button>
  <button mat-fab class="button">
    <img class="icone-button" src="../../../assets/icones/expand.svg" />
  </button>
</div>
